<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name></display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml,
            classpath:data-source-context.xml,
            classpath:shiroConfig.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>app-mvc</param-value>
    </context-param>


    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>production</param-value>
    </context-param>

    <!-- CAS融合 配置 Start -->
    <!--<filter>-->
        <!--<filter-name>CAS Single Sign Out Filter</filter-name>-->
        <!--<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>casServerUrlPrefix</param-name>-->
            <!--<param-value>http://localhost:8043/cas</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->

    <!--<listener>-->
        <!--<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>-->
    <!--</listener>-->

    <!--<filter>-->
        <!--<filter-name>CAS Authentication Filter</filter-name>-->
        <!--<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>authenticationRedirectStrategyClass</param-name>-->
            <!--<param-value>com.workbench.cas.login.filter.WorkbenchAuthenticationRedirectStrategy</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>casServerLoginUrl</param-name>-->
            <!--<param-value>http://localhost:8043/cas/login?locale=zh_CN</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>service</param-name>-->
            <!--&lt;!&ndash;&lt;!&ndash;<param-value>http://localhost:8080/SpiderManage/sys/casLogin/doL-->
            <!--ogin.do</param-value>&ndash;&gt;&ndash;&gt;-->
            <!--<param-value>http://localhost:8080/data-report-service/sys/casLogin/doLogin.do?redirect=http://localhost:9080</param-value>-->
        <!--</init-param>-->
        <!--&lt;!&ndash;<init-param>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-name>serverName</param-name>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-value>DataReportSerivce</param-value>&ndash;&gt;-->
        <!--&lt;!&ndash;</init-param>&ndash;&gt;-->
    <!--</filter>-->

    <!--<filter>-->
        <!--<filter-name>CAS Validation Filter</filter-name>-->
        <!--<filter-class>org.jasig.cas.client.validation.Cas30ProxyReceivingTicketValidationFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>casServerUrlPrefix</param-name>-->
            <!--<param-value>http://localhost:8043/cas</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>service</param-name>-->
            <!--<param-value>http://localhost:8080/data-report-service/sys/casLogin/doLogin.do?redirect=http://localhost:9080</param-value>-->
        <!--&lt;!&ndash;<param-value>http://localhost:8080/SpiderManage/sys/casLogin/doLogin.do</param-value>&ndash;&gt;-->
        <!--</init-param>-->
        <!--&lt;!&ndash;<init-param>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-name>serverName</param-name>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-value>DataReportSerivce</param-value>&ndash;&gt;-->
        <!--&lt;!&ndash;</init-param>&ndash;&gt;-->
        <!--<init-param>-->
            <!--<param-name>redirectAfterValidation</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>useSession</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>authn_method</param-name>-->
            <!--<param-value>mfa-duo</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->

    <!--<filter>-->
    <!--<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>-->
    <!--<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>-->
    <!--</filter>-->

    <!--&lt;!&ndash;<filter-mapping>&ndash;&gt;-->
    <!--&lt;!&ndash;<filter-name>CAS Single Sign Out Filter</filter-name>&ndash;&gt;-->
    <!--&lt;!&ndash;<url-pattern>/*</url-pattern>&ndash;&gt;-->
    <!--&lt;!&ndash;</filter-mapping>&ndash;&gt;-->

    <!--<filter-mapping>-->
    <!--<filter-name>CAS Validation Filter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter-mapping>-->
    <!--<filter-name>CAS Authentication Filter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter-mapping>-->
    <!--<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!-- CAS融合 配置 End -->


    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter-mapping>-->
        <!--<filter-name>shiroFilterRegistration</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:dispatcherServlet-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <!-- 设置true由servlet容器控制filter的生命周期 -->
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
        <!-- 设置spring容器filter的bean id，如果不设置则找与filter-name一致的bean-->
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>shiroFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>